#form-box{
    justify-content: flex-start;
    min-width: 320px;
}

#form-box form input, select, textarea{
    margin-bottom: 5px;
    
}

#form-box label{
    font-size: 12px;
    margin-right: auto;
    color: rgb(99, 96, 96);
}

#form-box button{
    margin-top: 10px;
}

#form-box  .show{
    display: inline;
}

#registerAccountForm #backBtn{
    width: 100px;
    height: 25px;
    margin-bottom: 5px;
}


